<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="editorTextEncodingIsASCII" value="0" />
    <add key="rowLimit" value="500" />
    <add key="contentTypeIdSearchPrefix" value="0x0101" /> <!--0x0101-->
    <add key="ignoreFileDates" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
